---
import { Image } from "astro:assets";
import img from "@assets/images/Join.png";
---

<section class="join">
  <div class="container">
    <div class="BGContainer">
      <Image src={img} alt={`image`} format="webp" />
    </div>
    <div class="JoinBox">
      <h2>Join Thousands of <br /> <span>Successful Businesses</span></h2>
      <p>Start your e-commerce journey with EasyGCO and watch your business grow.</p>
      <div class="btnsContainer">
        <a class=" LinkBtnBG" href="#">Get Started</a>
        <a class="LinkBtn" href="#">Contact Us</a>
      </div>
    </div>
  </div>
</section>
