---
import SRightSide from "./SRightSide.astro";
import SLeftSide from "./SLeftSide.astro";
---
<section class="Solutions">
    <div class="container">
        <div class="row">
            <!-- left -->
            <div class="col-lg-6 col-sm-12">
                <SLeftSide/>
             </div>
            <!-- right -->
             <div class="col-lg-6 col-sm-12">
                <SRightSide/>
             </div>
             
        </div>
    </div>
</section>