---
import { Icon } from "astro-icon/components";
---

<div class="rightSide" >
  <h2>Explore Our <span>Solutions</span></h2>
  <!-- box1 -->
  <div class="box">
    <!-- icons -->
    <div class="iconContainer">
      <Icon name={`S1`} />
    </div>
    <!-- details -->
    <div class="detailsBox">
      <p class="title">Digital Products</p>
      <p class="des">Securely sell e-books, software, and courses.</p>
    </div>
  </div>
  <!-- box2 -->
  <div class="box">
    <!-- icons -->
    <div class="iconContainer">
      <Icon name={`S2`} />
    </div>
    <!-- details -->
    <div class="detailsBox">
      <p class="title">Physical Products</p>
      <p class="des">Manage inventory, shipping, and more.</p>
    </div>
  </div>
  <!-- box3 -->
  <div class="box">
    <!-- icons -->
    <div class="iconContainer">
      <Icon name={`S3`} />
    </div>
    <!-- details -->
    <div class="detailsBox">
      <p class="title">Subscriptions</p>
      <p class="des">Offer recurring services with ease.</p>
    </div>
  </div>
  <!-- box4 -->
  <div class="box">
    <!-- icons -->
    <div class="iconContainer">
      <Icon name={`S4`} />
    </div>
    <!-- details -->
    <div class="detailsBox">
      <p class="title">Dropshipping</p>
      <p class="des">Sell without holding inventory.</p>
    </div>
  </div>
  <!-- end box -->
   <!-- btn -->
    <a href="#!" class="LinkBtnBG">Learn more</a>
</div>
