---
import { Icon } from "astro-icon/components";
---

<div class="leftSide" >
  <h1>Start Selling <br /> <span>Online Today</span></h1>
  <p>
    Create your online store quickly and easily with EasyGCO. Whether you're
    selling digital products, physical goods, or offering subscriptions, our
    platform provides everything you need to succeed.
  </p>
  <a href="#!" class="LinkBtn">
    Create your store now
    <Icon name={`arrow-right`} size={`30`} />
  </a>
</div>
