---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import img from "@assets/images/Hero.png"
import img2 from "@assets/images/partHero.png"
---
<div class="rightSide relative" >
    <div class="mainImage relative">
        <Image src={img} alt={``}/>
    </div>
    <div class="flyingThing">
        <Image src={img2} alt={``}/>
    </div>
    <div class="flyingThing-2">
        <Icon name={`heroSvg`}  size={`36`} />
    </div>
    <div class="flyingThing-3">
        <Icon name={`Polygon.`}  size={`36`} />
    </div>
</div>