$black: #00060b;
$BG: #232f3e;
$w: #fff;
// $BG:#f2f0f0; //#f2f0f0 /#f7f7f7;
// $BG2: #f7f7f7;
// $text:#002948;
// $text-2:#3d3d3d;
$t-l: 500ms ease-in-out;
$t-s: 250ms ease-in-out;
$hover: rgba(221, 18, 45, 1);
$hover-1: #5fa3d9;
$light-shadow:  #498fdf80;
$error: rgb(169, 50, 50);

$success: rgb(50, 169, 50);

$error-text: rgb(223, 45, 45);
$subtitle: rgba(71, 71, 71, 1);
$title: rgba(0, 0, 0, 1);
$title2: #1d1d1d;
$border-color: #eee;
$gradient:linear-gradient(90.84deg, rgba(202, 224, 204, 0.3) 0.73%, rgba(248, 240, 218, 0.3) 99.39%);
