---
import { Icon } from "astro-icon/components";
---
<div class="sideLeft">
    <h2>Get Started for Free</h2>
    <p>
        Sign up today and start building your online store with EasyGCO. No credit card required!
    </p>
    <a href="#!" class="LinkBtn">
        Create your store now
        <Icon name={`arrow-right`} size={`30`} />
      </a>
</div>