---
import SideRight from "./SideRight.astro";
import SideLeft from "./SideLeft.astro";
---

<section class="started">
  <div class="container">
    <div class="row align-items-center">
      <!-- left -->
      <div class="col-lg-5 col-sm-12">
        <SideLeft/>
      </div>
      <!-- right -->
      <div class="col-lg-7 col-sm-12">
        <SideRight />
      </div>
    </div>
  </div>
</section>
